html,
body {
    height: 100%;
    background-color: #010101;
    margin: 0;
    overflow: hidden;

    background: linear-gradient(74deg, #010101, #150050);
}

.container {
    color: white;
    display: flex;
    flex-flow: column;
    height: 100%;

}

.button-container {
    flex: 0 0 15rem;
    display: flex;
    width: 100%;
    z-index: 1;
    
    align-items: center;
    justify-content: center;
}

.button-container button {
    height: 6rem;
    width: 11rem;

    color: white;
    font-family: 'Kanit';
    font-size: 18px;
    cursor: pointer;

    border: 2px solid rebeccapurple;
    border-radius: 1rem;
    background-color: #21187644;
    
    transition: 0.8s;
}

.button-container button:hover {
    height: 8rem;
    width: 14rem;
    font-size: 20px;

    border: 2px solid rebeccapurple;
    border-radius: 2.5rem;
    background-color: #211876FF;
    box-shadow: 0 0 15px 1px #FFFFFF66;
    
    transition: 0.4s;
}

.answer-container {
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
    
    margin-top: 20%;
}

#answer {
    font-family: 'Kanit';
    font-size: 72px;
    font-weight: bolder;
    z-index: 1;

    background: -webkit-linear-gradient(58deg, #0C134F, #1D267D, #5C469C, #D4ADFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(0px 0px 23px #FFFFFF22);
    transition: 1.5s;
}

#answer:hover {
    font-size: 80px;

    filter: drop-shadow(0px 0px 42px #FFFFFFAA);
    transition: 0.8s;
}

.answer-example-container {
    position: absolute;
    width: 28rem;
    top: 10rem;
    left: 1rem;
    padding: 5px;
    border-radius: 1px;
}

.answer-code-block {
    background-color: rgba( 255, 255, 255, 0.9);
    border-radius: 0.5rem;
    min-height: 380px;
}

/* width */
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px gray;
    border-radius: 8px;
    z-index: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rebeccapurple;
    border-radius: 10px;
    z-index: 1;
}

.answer-example {
    white-space: pre-line;
}

.answer-usage {
    white-space: pre-line;
}

.parameters {
    align-self: center;
}

.navbar {
    flex: 0 1 4rem;
    z-index: 1;
    background-image: linear-gradient(58deg, #0C134F, #1D267D, #5C469C, #270082);
    background-size: 300% 300%;
    animation: gradient-colors 18s ease-in-out infinite;
}

.navbar div {
    line-height: 4rem;
    text-align: center;

    color: white;
    font-size: xx-large;
    font-family: 'Kanit';
}

@keyframes gradient-colors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.footer {
    flex: 0 1 8rem;
}

.footer div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    font-size: small;
    font-family: 'Kanit';
}

